
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>M07 Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
<link  href="babu.css" rel="stylesheet"  type="text/css">

</head>

<body class="container back">
<h1>
<span id="bd">Express Guestbook</span>
<a id = "cd" href="/new-entry" class="btn btn-warning pull-right">
Write in the guestbook
</a>
</h1>
</body>










